<template name="new_question">

  {{#main_content heading="Nova Pergunta" current="Perguntas"}}
    <form role="form">
      <div class="form-group">
        <label for="question-title">Título</label>
        <input class="form-control" type="text" name="question-title" placeholder="Digite o título da pergunta"/>
      </div>

      <div class="form-group">
        <label for="question-content">Conteúdo</label>
        <textarea class="form-control" name="question-content" id="" rows="8" cols="40"></textarea>
      </div>

      <button type="submit" class="btn btn-lg btn-flat btn-success">Salvar</button>
    </form>
  {{/main_content}}
</template>
