<template name="question_item">

  <div class="question-title">
    <h2>{{title}}</h2>
    <hr />
  </div>

  <div class="question-content">
    <p>{{text}}</p>
  </div>

  <div class="row">
    <div class="question-actions ">

      <div class="col-sm-3">
        <div class="question-follow">
          <a id="{{_id}}" href="#">
            <i class="fa fa-eye fa-2x"></i>
            <span>
              <b>Seguir esta pergunta!</b>
            </span>
          </a>
        </div>
        <p>101 pessoas seguindo esta pergunta</p>
      </div>

      <div class="col-sm-3">
        <div class="question-reply">
          <a href="#">
            <i class="fa fa-reply fa-2x"></i>
            <span>
              <b>Responder</b>
            </span>
          </a>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="question-info pull-right ">
        <p>perguntada {{submittedText}} atrás</p>
        <div class="pull-left image">
          <img src="img/avatar3.png" class="img-circle" alt="User Image" />
          <!--<b>Nome do usuário</b>-->
        </div>
      </div>
    </div>

  </div>

</template>
