<template name="question_item">

  <div class="question-title">
    <h2>{{question.title}}</h2>
    <hr />
  </div>

  <div class="question-content">
    <p>{{question.text}}</p>
  </div>

  <div class="row top30">
    <div class="question-actions ">

      <div class="col-sm-3">
        {{#unless ownQuestion author._id}}
          {{#unless following question._id currentUser._id}}
            <div class="question-follow">
              <a id="{{question._id}}" href="#">
                <i class="fa fa-eye fa-2x"></i>
                <span>
                  <b>Seguir esta pergunta!</b>
                </span>
              </a>
            </div>
          {{else}}
            <div class="question-unfollow">
              <a id="{{question._id}}" href="#">
                <i class="fa fa-eye-slash fa-2x"></i>
                <span>
                  <b>Deixar de seguir esta pergunta!</b>
                </span>
              </a>
            </div>
          {{/unless}}
        {{/unless}}
        <p>{{numberFollowed}} pessoa(s) seguindo esta pergunta</p>
      </div>

      <div class="col-sm-3">
        <div class="question-reply">
          <a href="#">
            <i class="fa fa-reply fa-2x"></i>
            <span>
              <b>Responder</b>
            </span>
          </a>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="question-info pull-right ">
        <p>perguntada {{submittedText}} atrás</p>
        <div class="pull-left image">
          <img src="{{author.avatar_url}}" class="img-square" alt="User Image" />
          <b>{{author.name}}</b>
        </div>
      </div>
    </div>

  </div>

</template>
