<template name="questions_list">

  {{#main_content heading="Perguntas" current="Perguntas"}}
    <div class="row">
      <ul class="nav nav-pills nav-justified">
        <li class="active"><a href="{{pathFor 'questions_list'}}">Minhas Perguntas</a></li>
        <li><a href="{{pathFor 'questions_list_followed'}}">Perguntas seguidas</a></li>
      </ul>
    </div>

    <div class="row top30">
      {{#each questions}}
        {{> question_preview }}
      {{/each}}
    </div>
  {{/main_content}}
</template>

<template name="question_preview">
  <div class="col-md-4">
    <div class="box box-info">
      <div class="box-header">
        <h3 class="box-title">
          <a href="{{pathFor 'question_page' _id}}">{{title}}</a>
        </h3>
        <div class="box-tools pull-right">
          <div class="label bg-aqua">
            Label
          </div>
        </div>
      </div>
      <div class="box-body">
        <p>{{truncateText text}} &hellip;</p>
      </div>
      <div class="box-footer">
        <div class="box-tools pull-right">
          <a href="{{pathFor 'question_page' _id}}">Visualizar</a>
        </div>
        <div class="user-panel">
          <div class="pull-left image">
            <img class="img-square" src="{{avatar_url author_id}}" alt="{{currentUser.profile.name}}" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
