<template name="question_page">

  {{#main_content heading="Pergunta" current="Pergunta"}}
    <div class="question">
      <!--{{#with question}}-->
        {{> question_item author=this.question.author author_id=this.question.author._id numberFollowed=this.numberFollowed question=this.question}}
      <!--{{/with}}-->
    </div>
    <div class="replies">
      <div class="replies-info">
        <h3>{{replies_count}}</h3>
        <hr />
      </div>
      {{#each replies}}
        {{> reply}}
      {{/each}}
    </div>
    <div class="new-reply">
      {{#with question}}
        {{> reply_submit }}
      {{/with}}
    </div>
  {{/main_content}}
</template>
