.question-info {
  margin-right: 40px;
  margin-top: 40px;

  padding: 10px 10px 10px 10px;
  background-color: #f4f4f4;

  box-shadow: 1px 2px 3px #ccc;
}

.question-actions {
  margin-top: 40px;

  div {
    display: inline;
  }

  div:not(:first-of-type) {
    margin-left: 10px;
  }

  a {
    i {
      vertical-align: middle;
    }
    span {
      margin-left: 5px;
      vertical-align: middle;
    }
  }

}
