<template name="user_account">
  {{#if currentUser }}
    {{> user_loggedin}}
  {{else}}
    {{> user_loggedout}}
  {{/if}}
</template>

<template name="user_loggedin">
  <!-- User Account: style can be found in dropdown.less -->
  <li class="dropdown user user-menu">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <i class="glyphicon glyphicon-user"></i>
      <span>{{currentUser.profile.name}} <i class="caret"></i></span>
    </a>
    <ul class="dropdown-menu">

      <!-- User image -->
      <li class="user-header bg-light-blue">
        <img src="img/avatar3.png" class="img-circle" alt="User Image" />
        <p>
        {{currentUser.profile.name}} - {{currentUser.profile.email}}
        <!--Jane Doe - Web Developer-->
        <small>Member since Nov. 2012</small>
        </p>
      </li>

      <!-- Menu Body -->
      <li class="user-body">
        <div class="col-xs-4 text-center">
          <a href="#">Followers</a>
        </div>
        <div class="col-xs-4 text-center">
          <a href="#">Sales</a>
        </div>
        <div class="col-xs-4 text-center">
          <a href="#">Friends</a>
        </div>
      </li>

      <!-- Menu Footer-->
      <li class="user-footer">
        <div class="pull-left">
          <a id="profile" class="btn btn-default btn-flat">Perfil</a>
        </div>
        <div class="pull-right">
          <a id="logout" class="btn btn-default btn-flat">Sair</a>
        </div>
      </li>

    </ul>
  </li>
</template>

<template name="user_loggedout">
  <li><a id="login">Login com Github</a></li>
</template>
