<template name="user_panel">
  <!-- Sidebar user panel -->
  <div class="user-panel">
    <div class="pull-left image">
      <img src="img/avatar3.png" class="img-circle" alt="User Image" />
    </div>
    <div class="pull-left info">
      <p>Hello, Jane</p>
      <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
    </div>

    <div class="extra-info">
      <div class="container-fluid">
        <div class="row">

          <div class="col-sm-6">
            <p>Seguindo</p>
            <span>59</span>
          </div>
          <div class="col-sm-6">
            <p>Seguidores</p>
            <span>49</span>
          </div>

        </div>
      </div>
    </div>

  </div>

  

</template>

